<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="./css/styles.css">

    <img src="http://www.gstatic.com/tv/thumb/persons/258/258_v9_bb.jpg" width="100">


</head>

<body>
    <h1> {{>header}}</h1>
    {{>footer}}
    <form>
        <input placeholder="Location">
        <button>Search</button>
    </form>
    <p class="p1"></p>
    <p class="p2"</p>
    <p class="p3"</p>
    <p class="p4"</p></p>
    <script src="./js/app.js"></script>
</body>
</html>